@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        @*<div class="sidebar">
            <NavMenu />
        </div>*@

        <div class="main">
            <div class="top-row px-4">
                Hello, @context.User.Identity.Name!
                <a href="LogOut">Log out</a>
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="main">
            <div class="row">
                <div class="col">

                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-center">
                        <img class="logo-image" src="images/sst.png" alt="Logo" />
                    </div>

                    <LoginDisplay />
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>